@font-face {
    font-family: "inter";
    src: url(/fonts/Inter/Inter-Regular.otf), 
         url(/fonts/Inter/Inter-SemiBold.otf);
}

body {
    font-family: "inter", system-ui, sans-serif; /*system-ui шрифт используемый пользователем на его устройстве*/
    font-weight: 600;
    margin: auto;
    padding: auto;
    width: 100%;
}

.header {
    margin: auto;
    padding: auto;
    max-width: 1440px;
    box-sizing: border-box;
    background-color: #F9C201;
    width: 1440px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    color: rgba(85, 85, 85, 1);
    font-size: 18px;
    margin-right: 0;

}

.time-work-header p {
    font-size: 12px;
    color: rgba(166, 166, 166, 1);
}



.delivery {
    margin: auto;
    padding: auto;
    width: 1440px;
    height: 48px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

}

.contact {

    text-align: right;
    margin-right: 50px;
    line-height: 20px;
    color: rgba(85, 85, 85, 1);

}

.user-page {
    border: #000 2px solid;
    border-radius: 10px;
    padding: 2px;
}

.basket {
    background-color: #000;
    border: #000 2px solid;
    border-radius: 10px;
    padding: 2px;
}

.user-page,
.basket {
    width: 36px;
    height: 36px;

}

.logo>img {
    width: 137px;
    height: 22px;

}

.name-product {
    font-size: 16px;
    font-weight: 600;
}

div,
nav,
ul,
li {
    display: inline-block;

}



li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: rgba(85, 85, 85, 1);
}


main {
    width: 1300px;
    margin: auto;
    padding: auto;
    align-items: center;
}

section {
    margin: auto;
    padding: auto;

}

h1 {
    font-size: 40px;
}

/* затемнение картинка */
.imgWrap {
    position: relative;
    display: inline-block;
    z-index: -1;
}


.imgWrap::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 84px;
    left: 0;
    border-radius: 0 0 16px 16px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 1;
}

.imgWrap-w {
    position: relative;
    display: inline-block;
    z-index: -1;
}


.imgWrap-w::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    border-radius: 0 0 16px 16px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 1;
}



/* затемнение картинка */


main img {

    height: 304px;
    width: 304px;
    border-radius: 16px;
}

.w-img {
    height: 100%;
    width: 100%;

    border-radius: 16px;
}

/* стили бейджа */

.notification {
    position: relative;
    display: inline-block;

}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    /* border-radius: 16px;   */
    color: white;
    font-size: 12px;
}

.badge2 {
    position: absolute;
    top: 10px;
    right: 60px;
    padding: 5px 10px;
    /* border-radius: 16px;   */
    color: white;
    font-size: 12px;
}

.badge img,
.badge2 img {
    height: 34px;
    width: 34px;
    padding: 2px 2px;
    border-radius: 8px;

}

.badge-sale {
    position: absolute;
    top: 20px;
    left: 40px;
    /* padding: 5px 10px;   */
    /* border-radius: 16px;   */
    color: white;
    font-size: 12px;
}

.badge-sale2 {
    position: absolute;
    top: 20px;
    left: 130px;
    /* padding: 5px 10px;   */
    /* border-radius: 16px;   */
    color: white;
    font-size: 12px;
}

.badge-sale3 {
    position: absolute;
    top: 20px;
    left: 210px;
    /* padding: 5px 10px;   */
    /* border-radius: 16px;   */
    color: white;
    font-size: 12px;
}



.badge-sale p,
.badge-sale2 p,
.badge-sale3 p {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 8px;
}


.badge-event {
    position: absolute;
    top: 20px;
    right: 30px;
    /* padding: 5px 10px;   */
    /* border-radius: 16px;   */
    color: black;
    font-size: 12px;
}

.badge-event-end {
    position: absolute;
    top: 20px;
    right: 30px;
    /* padding: 5px 10px;   */
    /* border-radius: 16px;   */
    color: white;
    font-size: 12px;
}

.badge-event-open {
    position: absolute;
    top: 20px;
    right: 30px;
    /* padding: 5px 10px;   */
    /* border-radius: 16px;   */
    color: black;
    font-size: 12px;
}

.badge-event-close {
    position: absolute;
    top: 20px;
    right: 30px;
    /* padding: 5px 10px;   */
    /* border-radius: 16px;   */
    color: white;
    font-size: 12px;
}


.badge-event p {
    background-color: rgba(254, 221, 44, 1);
    padding: 10px;
    border-radius: 8px;
}

.badge-event-end p {
    background-color: rgba(114, 114, 114, 1);
    padding: 10px;
    border-radius: 8px;
}

.badge-event-open p {
    background-color: rgba(254, 221, 44, 1);
    padding: 10px;
    border-radius: 8px;
}

.badge-event-close p {
    background-color: rgba(114, 114, 114, 1);
    padding: 10px;
    border-radius: 8px;
}


/* стили бейджа */

.menu-box>p {
    position: relative;
    top: -85px;
    padding: 10px;
    /* box-shadow: inset 0px -25px 25px rgba(0, 0, 0, 0.6); */
    border-radius: 0 0 16px 16px;
    z-index: 2;
}

.menu-box>p>span {

    font-size: 24px;
    color: #fff;
    margin-left: 16px;
    width: 100%;
    font-weight: 600;
    z-index: 2;
}






.stocks-box>p {
    position: relative;
    top: -90px;
    padding: 10px;
    width: 75%;
    /* box-shadow: inset 0px -25px 25px rgba(0, 0, 0, 0.6); */
    border-radius: 0 0 16px 16px;
    z-index: 2;
}

.stocks-box>p>span {
    font-size: 24px;
    color: #fff;
    margin-left: 16px;
    width: 100%;
    font-weight: 600;
    z-index: 2;
}

.events-box>.event-title {
    position: relative;
    top: -80px;
    font-size: 24px;
    color: #fff;
    margin-left: 16px;
    width: 100%;
    font-weight: 600;
    z-index: 2;
}

.event-button {

    width: 98%;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    border: 2px solid black;
    border-radius: 16px;
    background-color: #ffffff00;
}

.event-button>a {


    color: rgba(28, 28, 28, 1);
}



.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    /*растояние между колонками*/
    grid-row-gap: 100px;
}

.wrapper-stocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-column-gap: 30px;
    /*растояние между колонками*/
    grid-row-gap: 100px;
    grid-template-rows: 350px;

}



.cost {
    background-color: #F4F4F4;
    border-radius: 16px;
    padding: 18px;
    text-align: center;
    /* font-family: "inter";
    font-weight: 600; */
}

.title-product {
    max-width: 310px;
    /* height: 100px; */
    font-size: 14px;
    font-family: "inter";
    font-weight: 400;
    color: #727272;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

footer {
    width: 1440px;
    background-color: rgba(28, 28, 28, 1);
    /* padding: 0 120px 0 120px; */
    /* margin: 70px 0 0 0; */
    text-align: center;
    margin: auto;
    padding: auto;
}

.footer {
    margin: 0 50px;
    padding: auto;
    max-width: 1440px;
    min-height: 300px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.top-line,
.meddle-line,
.bottom-line,
.PREAX {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.PREAX {
    color: rgba(166, 166, 166, 1);
    display: inline-block;
    text-align: center;
    padding: 20px 0 20px 0;
}

.PREAX a {
    color: rgba(166, 166, 166, 1);
    text-decoration: underline;
}

.social {
    width: 34px;
    border-radius: 0px;
}

.contact {
    color: white;
    font-size: 24px;
}

.time-work p {
    font-size: 14px;
    color: rgba(166, 166, 166, 1);
}

.logo2>img {
    height: 100%;
    width: 100%;

}

.ps {

    color: rgba(166, 166, 166, 1);
}

.footer-menu li {
    color: rgba(244, 244, 244, 1);
}

.footer-menu2 li {
    font-size: 14px;
    color: rgba(166, 166, 166, 1);
}

.app-load {
    width: 138px;

}

.app-load img {
    border-radius: 16px;

}

.icon-pay img {
    border-radius: 16px;

}

hr {

    width: 80%;
    background-color: rgba(166, 166, 166, 1);
}